{include file="public/header" /}
<div class="main-container">
    <section class="text-center height-60" style="background:rgb(26,26,26)">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="typed-headline">
                        <span class="h1 inline-block" style="color: #f0f0f0">品美高清影音</span>
                    </div>
                    <p class="lead">
                        影 · 心
                    </p>
                    <a class="btn btn--primary type--uppercase" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=59eaff2325052e2385f7b4023b7c9b68ad27ddcf7a0e52cb350ad36e9e8c858a">
                                <span class="btn__text" >
                                    加入影迷群④
                                </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="imagebg  bg--dark" style="padding: 3em 0;background: #363537">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="masonry masonry-demos">
                        <div class="masonry__container">


                            {volist name='film' id='v'}
                                <div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                                    <a href="{:url('show/index', ['name' => 'film','id' => $v['id']])} target="_blank" class="block text-block">
                                        <figure class="effect-sadie">
                                            <img  src="__ROOT__/uploads/{$v.image}"  width="250" height="350">
                                            <figcaption>
                                                <h2>{$v.name}<br><span>{$v.release}</span></h2>
                                                <p>又名:{$v.name}<br>类型:{$v.type}<br>片长: xxx分钟<br>上映地区: {$v.country}</p>
                                                <h5>{$v.name}<span class="type--fine-print">({$v.release})</span>
                                                    <span class="tag-sm tag-picture2">{$v.score}</span>
                                                </h5>
                                                <em>{$v.score}</em>
                                            </figcaption>
                                        </figure>

                                    </a>
                                </div>
                            {/volist}


                            <!--end of masonry container-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer class="space--sm footer-2 bg--dark ">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> bt0.com</span>
                </div>
                <div class="col-sm-6 text-right text-left-xs">
                    <ul class="social-list list-inline list--hover">
                        <li><a href="http://www.btdx8.com/" target="_blank">BT天堂</a></li>
                        <li><a href="http://wukongshipin.com/" target="_blank">悟空视频</a></li>
                        <li><a href="http://www.tongbuyy.com/" target="_blank">同步影院</a></li>
                        <li><a href="http://mebook.cc/" target="_blank">小书屋</a></li>
                        <li><a href="http://www.gaoxiaotu.net/" target="_blank">搞笑图</a></li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>
<!--<div class="loader"></div>-->
{include file="public/base_js" /}
<script>
    $("img.lazy").lazyload({
        threshold : 200
    });

    $(".tabs li:first").addClass("active")

    $(".tabs-content li:first").addClass("active")

</script>


<script>
    $(document).ready(function () {
        $("[class='text-center height-60']").delay(2200).animate({height: "40vh",paddingBottom:"0.6em"})
    })
</script>
</body>


</html>