{include file="public/header" /}
<div class="background-overlay  hidden-xs hidden-sm"></div>
<div class="main-container">

  <section class="imagebg bg--dark" style="padding-bottom: 3em">

    <div class="background-image-holder" style="background: url(https://cdn.bt0.com/background/background26.jpg); opacity: 1;height: 700px;">
      <img alt="background" src="//cdn.bt0.com/background/background26.jpg">
    </div>
    <!--end of container-->

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  hidden-sm hidden-xs" style="margin-bottom: 2em;background: rgba(37, 37, 37, 0.32);border-radius: 10px;">
          <div class="container">
            <div class="row">

              <div class="jumbotron masthead">

                <div class="typebox">
                  <dl class="prel hidden-sm hidden-xs">
                    <dt>影视类型:</dt>
                    <dd>
                      <a href="/film-download/1-0-0-0-0-0.html" class="tag-sm tag-type">不限</a>
                      <a href="/film-download/1-1-0-0-0-0.html" >剧情</a>
                      <a href="/film-download/1-2-0-0-0-0.html" >喜剧</a>
                      <a href="/film-download/1-3-0-0-0-0.html" >惊悚</a>
                      <a href="/film-download/1-4-0-0-0-0.html" >动作</a>
                      <a href="/film-download/1-5-0-0-0-0.html" >爱情</a>
                      <a href="/film-download/1-6-0-0-0-0.html" >犯罪</a>
                      <a href="/film-download/1-7-0-0-0-0.html" >恐怖</a>
                      <a href="/film-download/1-8-0-0-0-0.html" >冒险</a>
                      <a href="/film-download/1-9-0-0-0-0.html" >悬疑</a>
                      <a href="/film-download/1-10-0-0-0-0.html" >科幻</a>
                      <a href="/film-download/1-11-0-0-0-0.html" >家庭</a>
                      <a href="/film-download/1-12-0-0-0-0.html" >奇幻</a>
                      <a href="/film-download/1-13-0-0-0-0.html" >动画</a>
                      <a href="/film-download/1-14-0-0-0-0.html" >战争</a>
                      <a href="/film-download/1-15-0-0-0-0.html" >历史</a>
                      <a href="/film-download/1-16-0-0-0-0.html" >传记</a>
                      <a href="/film-download/1-17-0-0-0-0.html" >音乐</a>
                      <a href="/film-download/1-18-0-0-0-0.html" >歌舞</a>
                      <a href="/film-download/1-19-0-0-0-0.html" >运动</a>
                      <a href="/film-download/1-20-0-0-0-0.html" >西部</a>
                      <a href="/film-download/1-21-0-0-0-0.html" >纪录片</a>
                    </dd>
                  </dl>

                  <dl class="prel hidden-sm hidden-xs">
                    <dt>制片地区:</dt>
                    <dd>
                      <a href="/film-download/1-0-0-0-0-0.html" class="tag-sm bg--primary">不限</a>
                      <a href="/film-download/1-0-1-0-0-0.html" >美国</a>
                      <a href="/film-download/1-0-2-0-0-0.html" >英国</a>
                      <a href="/film-download/1-0-3-0-0-0.html" >法国</a>
                      <a href="/film-download/1-0-4-0-0-0.html" >日本</a>
                      <a href="/film-download/1-0-5-0-0-0.html" >中国大陆</a>
                      <a href="/film-download/1-0-6-0-0-0.html" >香港</a>
                      <a href="/film-download/1-0-7-0-0-0.html" >德国</a>
                      <a href="/film-download/1-0-8-0-0-0.html" >印度</a>
                      <a href="/film-download/1-0-9-0-0-0.html" >加拿大</a>
                      <a href="/film-download/1-0-10-0-0-0.html" >意大利</a>
                      <a href="/film-download/1-0-11-0-0-0.html" >韩国</a>
                      <a href="/film-download/1-0-12-0-0-0.html" >澳大利亚</a>
                      <a href="/film-download/1-0-13-0-0-0.html" >西班牙</a>
                      <a href="/film-download/1-0-14-0-0-0.html" >台湾</a>
                      <a href="/film-download/1-0-15-0-0-0.html" >瑞典</a>
                      <a href="/film-download/1-0-16-0-0-0.html" >比利时</a>
                      <a href="/film-download/1-0-17-0-0-0.html" >荷兰</a>
                      <a href="/film-download/1-0-18-0-0-0.html" >丹麦</a>
                      <a href="/film-download/1-0-19-0-0-0.html" >俄罗斯</a>
                      <a href="/film-download/1-0-20-0-0-0.html" >泰国</a>
                    </dd>
                  </dl>

                  <dl class="prel hidden-sm hidden-xs">
                    <dt>上映年份:</dt>
                    <dd>
                      <a href="/film-download/1-0-0-0-0-0.html" class="tag-sm tag-size">不限</a>
                      <a href="/film-download/1-0-0-1-0-0.html" >2017</a>
                      <a href="/film-download/1-0-0-2-0-0.html" >2016</a>
                      <a href="/film-download/1-0-0-3-0-0.html" >2015</a>
                      <a href="/film-download/1-0-0-4-0-0.html" >2014</a>
                      <a href="/film-download/1-0-0-5-0-0.html" >2013</a>
                      <a href="/film-download/1-0-0-6-0-0.html" >2012</a>
                      <a href="/film-download/1-0-0-7-0-0.html" >2011</a>
                      <a href="/film-download/1-0-0-8-0-0.html" >2010</a>
                      <a href="/film-download/1-0-0-9-0-0.html" >2009</a>
                      <a href="/film-download/1-0-0-10-0-0.html" >2008</a>
                      <a href="/film-download/1-0-0-11-0-0.html" >2007</a>
                      <a href="/film-download/1-0-0-12-0-0.html" >2006</a>
                      <a href="/film-download/1-0-0-13-0-0.html" >2005</a>
                      <a href="/film-download/1-0-0-14-0-0.html" >2004</a>
                      <a href="/film-download/1-0-0-15-0-0.html" >2003</a>
                      <a href="/film-download/1-0-0-16-0-0.html" >2002</a>
                      <a href="/film-download/1-0-0-17-0-0.html" >2001</a>
                      <a href="/film-download/1-0-0-18-0-0.html" >2000</a>
                      <a href="/film-download/1-0-0-19-0-0.html" >1999</a>
                      <a href="/film-download/1-0-0-20-0-0.html" >1998</a>
                      <a href="/film-download/1-0-0-21-0-0.html" >1997</a>
                    </dd>
                  </dl>
                  <dl class="prel type--bold">
                    <dt>影视排序:</dt>
                    <dd>
                      <a href="/film-download/1-0-0-0-1-0.html" class="tag-sm tag-picture2">资源更新</a><a href="/film-download/1-0-0-0-3-0.html" >豆瓣评分</a></dd>
                  </dl>
                </div>

              </div>

            </div>
            <!--end of row-->
          </div>

        </div>
        <div class="col-sm-12 text-center">
          <div class="masonry masonry-demos">

            <div class="masonry__container">

              <div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25584.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="雷神3：诸神黄昏" data-original="https://img3.doubanio.com/view/photo/l/public/p2500451074.jpg" />
                    <figcaption>
                      <h2>雷神3：诸神黄昏<br><span>2017</span></h2>
                      <p>又名: Thor: Ragnarok<br>类型: 动作,奇幻,冒险<br>片长: 130分钟<br>上映地区: 美国</p>
                      <h5>雷神3：诸神黄昏<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">7.5</span>
                      </h5>
                      <em>7.5</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25583.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="战狼2" data-original="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2485983612.jpg" />
                    <figcaption>
                      <h2>战狼2<br><span>2017</span></h2>
                      <p>又名: 战狼2<br>类型: 动作<br>片长: 123分钟<br>上映地区: 中国大陆</p>
                      <h5>战狼2<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">7.4</span>
                      </h5>
                      <em>7.4</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25582.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="追龙" data-original="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2499052494.jpg" />
                    <figcaption>
                      <h2>追龙<br><span>2017</span></h2>
                      <p>又名: 追龍<br>类型: 动作,犯罪<br>片长: 128分钟<br>上映地区: 香港,中国大陆</p>
                      <h5>追龙<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">7.5</span>
                      </h5>
                      <em>7.5</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25580.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="我罩袍下的口红" data-original="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2395556638.jpg" />
                    <figcaption>
                      <h2>我罩袍下的口红<br><span>2016</span></h2>
                      <p>又名: Lipstick Under My Burkha<br>类型: 剧情<br>片长: 117分钟<br>上映地区: 印度</p>
                      <h5>我罩袍下的口红<span class="type--fine-print">(2016)</span>
                        <span class="tag-sm tag-picture2">8.9</span>
                      </h5>
                      <em>8.9</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25579.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="疯狂修道院" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2459642434.jpg" />
                    <figcaption>
                      <h2>疯狂修道院<br><span>2017</span></h2>
                      <p>又名: The Little Hours<br>类型: 喜剧<br>片长: 90分钟<br>上映地区: 美国</p>
                      <h5>疯狂修道院<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">6.5</span>
                      </h5>
                      <em>6.5</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25578.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="有处为家" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2323132354.jpg" />
                    <figcaption>
                      <h2>有处为家<br><span>2015</span></h2>
                      <p>又名: A Country Called Home<br>类型: 剧情<br>片长: 90分钟<br>上映地区: 美国</p>
                      <h5>有处为家<span class="type--fine-print">(2015)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25577.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="最后的疯狂" data-original="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2452672577.jpg" />
                    <figcaption>
                      <h2>最后的疯狂<br><span>2017</span></h2>
                      <p>又名: Last Rampage<br>类型: 剧情<br>片长: <br>上映地区: 美国</p>
                      <h5>最后的疯狂<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25576.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="狼母" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2389161575.jpg" />
                    <figcaption>
                      <h2>狼母<br><span>2016</span></h2>
                      <p>又名: Wolf Mother<br>类型: 惊悚,犯罪<br>片长: 117分钟<br>上映地区: 美国</p>
                      <h5>狼母<span class="type--fine-print">(2016)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25575.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="肆意射杀" data-original="https://img1.doubanio.com/lpic/s3267568.jpg" />
                    <figcaption>
                      <h2>肆意射杀<br><span>2007</span></h2>
                      <p>又名: Shoot on Sight<br>类型: 剧情,惊悚,犯罪<br>片长: 110 分钟<br>上映地区: 美国,英国</p>
                      <h5>肆意射杀<span class="type--fine-print">(2007)</span>
                        <span class="tag-sm tag-picture2">6.6</span>
                      </h5>
                      <em>6.6</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25574.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="生存家族" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2499711401.jpg" />
                    <figcaption>
                      <h2>生存家族<br><span>2017</span></h2>
                      <p>又名: サバイバルファミリー<br>类型: 喜剧,家庭<br>片长: 117分钟<br>上映地区: 日本</p>
                      <h5>生存家族<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">8.1</span>
                      </h5>
                      <em>8.1</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25573.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="人皮脸" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2499167862.jpg" />
                    <figcaption>
                      <h2>人皮脸<br><span>2017</span></h2>
                      <p>又名: Leatherface<br>类型: 惊悚,恐怖<br>片长: 90分钟<br>上映地区: 美国</p>
                      <h5>人皮脸<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25572.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="十月建造的房屋2" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2497399411.jpg" />
                    <figcaption>
                      <h2>十月建造的房屋2<br><span>2017</span></h2>
                      <p>又名: The Houses October Built 2<br>类型: 恐怖<br>片长: 101分钟<br>上映地区: 美国</p>
                      <h5>十月建造的房屋2<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25571.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="杀死冈瑟" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2497590454.jpg" />
                    <figcaption>
                      <h2>杀死冈瑟<br><span>2017</span></h2>
                      <p>又名: Killing Gunther<br>类型: 喜剧,动作<br>片长: 93分钟<br>上映地区: 美国</p>
                      <h5>杀死冈瑟<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">5.6</span>
                      </h5>
                      <em>5.6</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25570.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="打消我的怀疑" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2492849191.jpg" />
                    <figcaption>
                      <h2>打消我的怀疑<br><span>2017</span></h2>
                      <p>又名: Ôtez-moi d&#39;un doute<br>类型: 喜剧,爱情<br>片长: 99分钟<br>上映地区: 法国,比利时</p>
                      <h5>打消我的怀疑<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25569.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="嗨翻姐妹行" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2426954322.jpg" />
                    <figcaption>
                      <h2>嗨翻姐妹行<br><span>2017</span></h2>
                      <p>又名: Girls Trip<br>类型: 喜剧<br>片长: 122分钟<br>上映地区: 美国</p>
                      <h5>嗨翻姐妹行<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">7.1</span>
                      </h5>
                      <em>7.1</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25568.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="草原日出" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2428945711.jpg" />
                    <figcaption>
                      <h2>草原日出<br><span>2016</span></h2>
                      <p>又名: Savannah Sunrise<br>类型: 喜剧,家庭<br>片长: 88分钟<br>上映地区: 美国</p>
                      <h5>草原日出<span class="type--fine-print">(2016)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25567.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="四十度晒" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2328084506.jpg" />
                    <figcaption>
                      <h2>四十度晒<br><span>2016</span></h2>
                      <p>又名: Suntan<br>类型: 剧情,爱情,惊悚<br>片长: 104分钟<br>上映地区: 希腊</p>
                      <h5>四十度晒<span class="type--fine-print">(2016)</span>
                        <span class="tag-sm tag-picture2">6.5</span>
                      </h5>
                      <em>6.5</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25566.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="快乐猎杀" data-original="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2417921798.jpg" />
                    <figcaption>
                      <h2>快乐猎杀<br><span>2017</span></h2>
                      <p>又名: Happy Hunting<br>类型: 恐怖<br>片长: 91分钟<br>上映地区: 美国</p>
                      <h5>快乐猎杀<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25565.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="血腥蜡笔" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2498405874.jpg" />
                    <figcaption>
                      <h2>血腥蜡笔<br><span>2017</span></h2>
                      <p>又名: Bloody Crayons<br>类型: 悬疑,惊悚,恐怖<br>片长: 109分钟<br>上映地区: 菲律宾</p>
                      <h5>血腥蜡笔<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25564.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="嘎嘎：五尺二寸" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2497201655.jpg" />
                    <figcaption>
                      <h2>嘎嘎：五尺二寸<br><span>2017</span></h2>
                      <p>又名: GAGA: Five Foot Two<br>类型: 纪录片,音乐,传记<br>片长: 100分钟<br>上映地区: 美国</p>
                      <h5>嘎嘎：五尺二寸<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">9.0</span>
                      </h5>
                      <em>9.0</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25563.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="Smartass" data-original="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2498925618.jpg" />
                    <figcaption>
                      <h2>Smartass<br><span>2017</span></h2>
                      <p>又名: Smartass<br>类型: 喜剧,恐怖<br>片长: 90分钟<br>上映地区: 美国</p>
                      <h5>Smartass<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25562.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="棋手" data-original="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2455900717.jpg" />
                    <figcaption>
                      <h2>棋手<br><span>2017</span></h2>
                      <p>又名: El jugador de ajedrez<br>类型: 剧情<br>片长: <br>上映地区: 西班牙</p>
                      <h5>棋手<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25561.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="极寒之城" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2461815940.jpg" />
                    <figcaption>
                      <h2>极寒之城<br><span>2017</span></h2>
                      <p>又名: Atomic Blonde<br>类型: 动作,悬疑,惊悚<br>片长: 115分钟<br>上映地区: 美国</p>
                      <h5>极寒之城<span class="type--fine-print">(2017)</span>
                        <span class="tag-sm tag-picture2">7.4</span>
                      </h5>
                      <em>7.4</em>
                    </figcaption>
                  </figure>

                </a>
              </div><div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                <a href="/mv/25560.html" target="_blank" class="block text-block">
                  <figure class="effect-sadie">
                    <img class="lazy" style="width: 100%" alt="黑雪" data-original="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2403316501.jpg" />
                    <figcaption>
                      <h2>黑雪<br><span>2017</span></h2>
                      <p>又名: Nieve negra<br>类型: 剧情<br>片长: 90分钟<br>上映地区: 阿根廷,西班牙</p>
                      <h5>黑雪<span class="type--fine-print">(2017)</span>
                      </h5>
                    </figcaption>
                  </figure>
                </a>
              </div>

            </div>
            <!--end of masonry container-->
          </div>
          <!--end masonry-->
          <div class="pagination">
            <div class="col-xs-12 text-center hidden-md hidden-lg">
              <a class="type--fine-print" href="/film-download/1-0-0-0-0-1.html">下一页 >></a>
            </div>

          </div>
          <div class="text-center hidden-sm hidden-xs">
            <ul class='tsc_pagination tsc_paginationA tsc_paginationA06'>
              <li class="active"><span class="current">1</span></li><li><a class="num" href="/film-download/1-0-0-0-0-1.html">2</a></li><li><a class="num" href="/film-download/1-0-0-0-0-2.html">3</a></li><li><a class="num" href="/film-download/1-0-0-0-0-3.html">4</a></li><li><a class="num" href="/film-download/1-0-0-0-0-4.html">5</a></li><li><a class="num" href="/film-download/1-0-0-0-0-5.html">6</a></li><li><a class="num" href="/film-download/1-0-0-0-0-6.html">7</a></li><li><a class="num" href="/film-download/1-0-0-0-0-7.html">8</a></li><li><a class="num" href="/film-download/1-0-0-0-0-8.html">9</a></li><li><a class="num" href="/film-download/1-0-0-0-0-9.html">10</a></li><li><a class="next" href="/film-download/1-0-0-0-0-1.html">&nbsp;</a><li><a class="end" href="/film-download/1-0-0-0-0-1004.html">...1005</a></li>
            </ul>
          </div>
        </div>


      </div>
      <!--end of row-->
    </div>

    <!--end of container-->
  </section>


  <section class="space--xs imagebg" style="background-color: #232323;">
    <div class="container">
      <div class="row">
        <div class="cta cta--horizontal text-center-xs">
          <div class="col-sm-4" style="color: #efe">
            <h4>反馈建议</h4>
          </div>
          <div class="col-sm-5">
            <p class="lead"  style="color: #efe">
              加入不太灵官方群，与广大影迷交流
            </p>
          </div>
          <div class="col-sm-3 text-right text-center-xs">
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=a08fdf1a42c3cba85f84b46655919387c83e5b9012117bde64e5b4ad1d9530e9"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="不太灵官方群2" title="不太灵官方群2"></a>
          </div>
        </div>
      </div>

    </div>

  </section>
  <footer class="space--sm footer bg--dark " style="background: #0f0b11;">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
                            <span class="type--fine-print">&copy;
                              <span class="update-year"></span> bt0.com</span>
        </div>
        <div class="col-sm-6 text-right text-left-xs">
          <ul class="social-list list-inline list--hover">

          </ul>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </footer>
</div>
{include file="public/base_js" /}
<script>
  $("img.lazy").lazyload({
    threshold : 200
  });

  $(".tabs li:first").addClass("active")

  $(".tabs-content li:first").addClass("active")

</script>
<script src="//cdn.bt0.com/js/bundle.min.js"></script>

</body>
</html>

