{include file="public/header" /}
<div class="background-overlay  hidden-xs hidden-sm"></div>
<div class="main-container">

  <section class="imagebg bg--dark" style="padding-bottom: 3em">

    <div class="background-image-holder" style="background: url(https://cdn.bt0.com/background/background26.jpg); opacity: 1;height: 700px;">
      <img alt="background" src="//cdn.bt0.com/background/background26.jpg">
    </div>
    <!--end of container-->

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  hidden-sm hidden-xs" style="margin-bottom: 2em;background: rgba(37, 37, 37, 0.32);border-radius: 10px;">
          <div class="container">
            <div class="row">

              <div class="jumbotron masthead">

                <div class="typebox">
                  <dl class="prel hidden-sm hidden-xs">
                    <dt>影视类型:</dt>
                    <dd>

                      <a {eq name="$type_name" value="不限" }class="tag-sm tag-type"{/eq} href="{:url('film/change', ['name' => 'type','type_name' => '不限'])}" >不限</a>
                     {volist name='type' id='v'}
                          <a {eq name="$type_name" value="$v['name']" }class="tag-sm tag-type"{/eq} href="{:url('film/change', ['name' => 'type','type_name' => $v['name']])}">{$v.name}</a>
                      {/volist}
                    </dd>
                  </dl>

                  <dl class="prel hidden-sm hidden-xs">
                    <dt>制片地区:</dt>
                    <dd>
                      <a {eq name="$country_name" value="不限" }class="tag-sm bg--primary"{/eq} href="{:url('film/change', ['name' => 'country','country_name' => '不限'])}">不限</a>
                      {volist name='country' id='v'}
                      <a {eq name="$country_name" value="$v['name']" }class="tag-sm bg--primary"{/eq} href="{:url('film/change', ['name' => 'country','country_name' => $v['name']])}" >{$v.name}</a>
                      {/volist}


                    </dd>
                  </dl>

                  <dl class="prel hidden-sm hidden-xs">
                    <dt>上映年份:</dt>
                    <dd>
                      <a {eq name="$release_time" value="不限" }class="tag-sm tag-size"{/eq}  href="{:url('film/change', ['name' => 'release','release_time' => '不限'])}">不限</a>
                      {volist name='release' id='v'}
                      <a  {eq name="$release_time" value="$v['time']" }class="tag-sm tag-size"{/eq} href="{:url('film/change', ['name' => 'release','release_time' => $v['time']])}">{$v.time}</a>
                      {/volist}
                    </dd>
                  </dl>
                  <dl class="prel type--bold">
                    <dt>影视排序:</dt>
                    <dd>
                      <a {eq name="$order_name" value="更新时间"}class="tag-sm tag-picture2"{/eq} href="{:url('film/change', ['name' => 'order','order_name' => '更新时间'])}">资源更新</a><a {eq name="$order_name" value="评分" }class="tag-sm tag-picture2"{/eq} href="{:url('film/change', ['name' => 'order','order_name' => '评分'])}" >豆瓣评分</a></dd>
                  </dl>
                </div>

              </div>

            </div>
            <!--end of row-->
          </div>

        </div>
        <div class="col-sm-12 text-center">
          <div class="masonry masonry-demos">

            <div class="masonry__container">
              {volist name='film' id='v'}
                  <div class="masonry__item col-md-3 col-sm-6 col-xs-6" data-masonry-filter="电影">
                    <a  href="{:url('show/index', ['name' => 'film','id' => $v['id']])}" target="_blank" class="block text-block">
                      <figure class="effect-sadie">
                        <img  src="__ROOT__/uploads/{$v.image}"  width="250" height="350">
                        <figcaption>
                          <h2>{$v.name}<br><span>{$v.release}</span></h2>
                          <p>又名:{$v.name}<br>类型:{$v.type}<br>片长: xxx分钟<br>上映地区: {$v.country}</p>
                          <h5>{$v.name}<span class="type--fine-print">({$v.release})</span>
                            <span class="tag-sm tag-picture2">{$v.score}</span>
                          </h5>
                          <em>{$v.score}</em>
                        </figcaption>
                      </figure>

                    </a>
                  </div>
              {/volist}
            </div>
            <!--end of masonry container-->
          </div>
          <!--end masonry-->

          <div style="text-align: center">{$film->render()}</div>
        </div>


      </div>
      <!--end of row-->
    </div>

    <!--end of container-->
  </section>


  <section class="space--xs imagebg" style="background-color: #232323;">
    <div class="container">
      <div class="row">
        <div class="cta cta--horizontal text-center-xs">
          <div class="col-sm-4" style="color: #efe">
            <h4>反馈建议</h4>
          </div>
          <div class="col-sm-5">
            <p class="lead"  style="color: #efe">
              加入品美官方群，与广大影迷交流
            </p>
          </div>
          <div class="col-sm-3 text-right text-center-xs">
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=a08fdf1a42c3cba85f84b46655919387c83e5b9012117bde64e5b4ad1d9530e9"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="不太灵官方群2" title="不太灵官方群2"></a>
          </div>
        </div>
      </div>

    </div>

  </section>
  <footer class="space--sm footer bg--dark " style="background: #0f0b11;">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
                            <span class="type--fine-print">&copy;
                              <span class="update-year"></span> bt0.com</span>
        </div>
        <div class="col-sm-6 text-right text-left-xs">
          <ul class="social-list list-inline list--hover">

          </ul>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </footer>
</div>
{include file="public/base_js" /}
<!--<link rel="stylesheet" type="text/css" href="__STATIC__/admin/lib/bootstrap/css/bootstrap.css" />-->

<script>
  $("img.lazy").lazyload({
    threshold : 200
  });

  $(".tabs li:first").addClass("active")

  $(".tabs-content li:first").addClass("active")

</script>

</body>
</html>

